<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
    Andrey <strong>Danilov</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about"><span class="mr-2 fa fa-user"></span>About</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="/contacts"><span class="mr-2 fa fa-envelope-o"></span>Contacts</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="https://ya.cc/6APGSB"><span class="mr-2 fa fa-envelope-o"></span>Yandex Brouser</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="https://browser-corp-data.s3.yandex.net/installers/4e893753-7f71-4665-8b32-cc0a655e0e7d/YandexBrowser.msi"><span class="mr-2 fa fa-envelope-o"></span>Windows_x86</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="https://browser-corp-data.s3.yandex.net/installers/83fbdcd0-d1cf-4a4b-9362-b9b0d12bbc57/YandexBrowser.msi"><span class="mr-2 fa fa-envelope-o"></span>Windows_x64</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="https://browser.yandex.ru/corp/builds?refid=11878705"><span class="mr-2 fa fa-envelope-o"></span>Yandex Builds</a>
      </li>
      
      {% if site.github_username %}
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/{{ site.github_username }}"><span class="mr-1 fa fa-github"></span></a>
        </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="mr-1 fa fa-rss"></span></a>
      </li>

    </ul>
  </div>
</nav>
