<nav>
    <a href="/">Andrey <strong>Danilov</strong></a>
    <a href="/about">About</a>
    <a href="/contacts">Contacts</a>
        {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}">GitHub</a>
        {% endif %}
    <a href="https://ya.cc/6APGSB"><span></span>Yandex Browser</a>
    <a href="https://browser-corp-data.s3.yandex.net/installers/4e893753-7f71-4665-8b32-cc0a655e0e7d/YandexBrowser.msi"><span></span>Windows_x86</a>
    <a href="https://browser-corp-data.s3.yandex.net/installers/83fbdcd0-d1cf-4a4b-9362-b9b0d12bbc57/YandexBrowser.msi"><span></span>Windows_x64</a>
    <a href="https://browser.yandex.ru/corp/builds?refid=11878705"><span></span>Yandex Builds</a>
</nav>
  
