<nav>
    <a href="/">
      Andrey <strong>Danilov</strong>
    </a>
    <button>
      <span></span>
    </button>
  
    <div>
      <ul>
        <li>
          <a href="/about"><span></span>About</a>
        </li>
        <li>
          <a href="/contacts"><span></span>Contacts</a>
        </li>
        
        {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}"><span></span></a>
          </li>
        {% endif %}
  
        
        <li>
          <a href="https://ya.cc/6APGSB"><span></span>Yandex Browser</a>
        </li>
        <li>
          <a href="https://browser-corp-data.s3.yandex.net/installers/4e893753-7f71-4665-8b32-cc0a655e0e7d/YandexBrowser.msi"><span></span>Windows_x86</a>
        </li>
        <li>
          <a href="https://browser-corp-data.s3.yandex.net/installers/83fbdcd0-d1cf-4a4b-9362-b9b0d12bbc57/YandexBrowser.msi"><span></span>Windows_x64</a>
        </li>
        <li>
          <a href="https://browser.yandex.ru/corp/builds?refid=11878705"><span></span>Yandex Builds</a>
        </li>
        
      </ul>
    </div>
  </nav>
  